.Caticories__box {
      padding: 45px 170px;
      display: flex;
      /* align-items: center; */
      justify-content: space-between;
      background-color: #232f3e;
}

.Caticories__list-box-four {
      width: 135px;
}

.Caticories__list-one-title {
      color: #fff;
      font-weight: bold;
      font-family: inherit;
      font-size: 16px;
      margin: 6px 0 14px 0;
      white-space: nowrap;
}

.Caticories__list-item {
      font-size: 14px;
      margin-top: 10px;
      margin-bottom: 10px;
}

.Caticories__list-link {
      opacity: 0.8;
}

.Caticories__list-link:hover {
      border-bottom: 1px solid #fff;
}